body {
    margin: 0;
    background: radial-gradient(#1e8fa5,#08506b,lightgreen )no-repeat fixed;
    padding: 50px 0px;
}
button.clear {
    background: #FF5722;
    color: #fff;
}
table {
    background: lightgreen;
    padding: 7px 5px;
    border: 6px solid cyan;
    text-align: center;
    padding-bottom: 0px;
    box-shadow: 0px 0px 27px #0d5569;
    border-radius: 10px;
    margin-top: 90px;
}
button.equals {
    width: 88%;
    background: lightblue;
}
button.equals:hover{
	background: cyan;
}
input[type="text"] {
    width: 450px;
    height: 81px;
    border: none;
    padding: 10px 20px;
    font-size: 29px;
    background: blue;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: yellow;
    
}
button {
    padding: 10px 20px;
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: lightblue;
    border: none;
    color: blue;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
	background: cyan;
}
